@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Indie+Flower&family=Patrick+Hand&family=Rock+Salt&family=Zeyada&display=swap');
:root {
    --rosado: #d40245;
    --rosadoOscuro: #61001f;
    --azul: #0063b4;
    --azulOscuro: #002341;
    --amarillo: #ff6a06;
    --amarilloOscuro: #853500;
}

body {
    font-family: 'Annie Use Your Telescope';
    background-color: #a1a1a1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23000000' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.text {
    margin: 5px;
    margin-top: 5px;
    font-size: 25px;
    text-align: center;
}

#mainDiv {
    background-color: aliceblue;
    position: relative;
    top: 150px;
    margin: auto;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    border: 10px double;
}

@media (max-width:425px) {
    #mainDiv {
        top: 100px;
    }
}

#name {
    font-family: 'Rock Salt';
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0px;
}